body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  font-family: monospace;
  padding: 20px;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}

::-webkit-scrollbar {
  width: 1px;
}

.main-container {
  background-color: rgba(42, 41, 45, 0.4);
  color: rgb(248, 237, 237);
  padding: 30px;
  font-size: 12px;
  border-radius: 10px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  letter-spacing: 2.7px;
}

.drop-down-button-wrapper {
  font-size: 17px;
  text-align: end;
  width: 120px;
  background-color: rgba(57, 45, 94, 0.3);
  padding: 3px 15px 3px 0px;
  border-radius: 13px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.1)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
}

.drop-down-button-wrapper:hover {
  filter: drop-shadow(0 10px 8px rgba(52, 19, 117, 0.2));
}

.code-type {
  font-size: 11px;
  margin-right: 10px;
  font-family: monospace;
  letter-spacing: 2px;
  position: relative;
  top: -3px;
}

.dots {
  position: relative;
  top: -2px;
}

.result-container {
  text-align: left;
  height: 300px;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 20px;
}

textarea {
  position: relative;
  height: 60px;
  width: 100%;
  color: rgb(248, 237, 237);
  background-color: rgba(92, 92, 95, 0.2);
  border-radius: 4px;
  padding: 18px;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  outline: none;
  resize: vertical;
}

textarea:hover {
  filter: drop-shadow(0 10px 8px rgba(191, 186, 201, 0.2));
}

.text-area-wrapper {
  padding-right: 38px;
}

.translate-button {
  text-align: center;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(218, 17, 17, 0.2);
  border: 1px solid rgb(95, 92, 92);
  color: rgb(214, 209, 209);
  letter-spacing: 5.5px;
  font-size: 14px;
  font-family: monospace;
  margin-top: 9px;
  padding: 7px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.1)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.translate-button:hover {
  filter: drop-shadow(0 10px 8px rgb(201, 23, 23, 0.7));
  color: #ffff;
}

.footer {
  left: 0;
  right: 0;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #f1f1f1;
}

.header {
  text-align: center;
  color: #f1f1f1;
  font-size: 30px;
}